DATABASE_URL=sqlite:///./app_data.db
GNEWS_API_KEY=ma_clé_api_gnews
GNEWS_BASE_URL=https://gnews.io/api/v4/top-headlines

SECRET_KEY = "SUPER_SECRET_KEY_A_CHANGER"  # CHANGE-MOI EN PRODUCTION !
ALGORITHM = "HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 30
DATABASE_URL=postgresql://user:password@localhost:5432/news_digest_db