__pycache__/
*.py[cod]
*$py.class
*.so

.venv/
venv/
env/
/bin/
/include/
/lib/
/lib64/

build/
develop-eggs/
dist/
*.egg-info/
.installed.cfg
*.egg

.coverage
.tox/
htmlcov/

*.log

*.db
*.sqlite
*.sqlite3

.env
alembic.ini
alembic/versions/
alembic/.versions.log
alembic.pyc

.vscode/
.idea/
.DS_Store
Thumbs.db

.dockerignore

project_dump.txt
export_project.sh